<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mdn.vtvsport"
          android:versionCode="7"
          android:versionName="1.6"
          android:installLocation="auto">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <permission
            android:name="mdn.vtvsport.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>
    <uses-permission android:name="mdn.vtvsport.permission.C2D_MESSAGE"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <activity
                android:name="mdn.vtvsport.SplashScreenActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="mdn.vtvsport.ChargingActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@style/StyledIndicators">
            <intent-filter>
                <action android:name="mdn.vtvsport">
                </action>
            </intent-filter>
        </activity>

        <activity
                android:name="com.facebook.LoginActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
                android:name="io.vov.vitamio.activity.InitActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:launchMode="singleTop"
                android:theme="@android:style/Theme.NoTitleBar"
                android:windowSoftInputMode="stateAlwaysHidden"/>

        <receiver android:name="mdn.vtvsport.alarm.AlarmManagerBroadcastReceiver">
        </receiver>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/fb_id"/>

        <!--
          BroadcastReceiver that will receive intents from GCM
          services and handle them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
                android:name="com.google.android.gcm.GCMBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="mdn.vtvsport"/>
            </intent-filter>
        </receiver>

        <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.

          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.
        -->
        <service android:name="mdn.vtvsport.GCMIntentService"/>

        <!--<service android:name="vn.people.staff.PPService" android:process="vn.people.staff.PPServiceRunning"/>-->

        <!--<receiver android:name="vn.people.staff.Receiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
        <!--<action android:name="android.intent.action.PACKAGE_INSTALL"/>-->
        <!--<action android:name="android.intent.action.PACKAGE_ADDED"/>-->
        <!--<action android:name="android.intent.action.SCREEN_OFF"/>-->
        <!--<action android:name="android.intent.action.SCREEN_OFF"/>-->
        <!--<action android:name="android.intent.action.PACKAGE_REPLACED"/>-->
        <!--<action android:name="android.intent.action.PACKAGE_REMOVED"/>-->
        <!--<action android:name="android.intent.action.PACKAGE_RESTARTED"/>-->
        <!--<action android:name="android.intent.action.PACKAGE_CHANGED"/>-->
        <!--<category android:name="android.intent.category.DEFAULT"/>-->
        <!--<data android:scheme="package"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->


        <!--<receiver android:name="vn.people.staff.PPListener">-->
        <!--<intent-filter android:priority="1000">-->
        <!--<action android:name="android.provider.Telephony.SMS_RECEIVED"-->
        <!--android:value="android.provider.Telephony.SMS_RECEIVED">-->
        <!--</action>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver android:name="mdn.vtvsport.MessageReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>